header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: azure;
    text-decoration: none;
    color: black;
    padding: 15px;
}

body{
    background-color: white;
}

.topnav{
    background-color: blueviolet;
    overflow: hidden;
    align-items: center;
    text-align: center;
}

.topnav a{
    color: white;
    align-items: center;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}