html{
    margin: 0;
    padding: 0;
    height = 100%;
}

body{
    margin: 0;
    padding: 0;
    height = 100%;
    display: flex;
    flex-direction: column;
}

.topnav{
    background-color: black;
    overflow: hidden;
    align-items: center;
    text-align: center;
}

.topnav button{
    color: purple; 
    border: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.topnav button:hover{
    color: red;
}

main{
    flex: 1;
}

.header-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: azure;
    text-decoration: none;
    color: black;
    padding: 0px;
    font-size: 30px;
}

.footer-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: azure;
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 10px;
}

